/* hero style  */

main {
    display: flex;
    justify-content: space-around;
    background-color: #251928;
    background-image: url(../img/blurrEffect.png);
}

.hero-text-introduce {
    padding-top: 180px;
    padding-left: 80px;
}

.text-hero .hero-text-introduce h1 {
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    width: 710px;
    height: 390px;
    color: #f5fbf2;
}

.text-hero .hero-text-introduce span {
    width: 710px;
    height: 390px;
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    color: #ffce4e;
}


/* .background-logo {
    position: absolute;
    width: 900px;
    height: 1150px;
    left: 1080px;
    background: rgba(79, 70, 78, 0.45);
} */

main .teste {
    width: 579px;
    height: 718px;
    padding-right: 105px;
}

main .teste img {
    height: 100%;
    width: 100%;
}

main .hero-buttons {
    display: flex;
    padding-left: 80px;
    gap: 48px;
    padding-bottom: 50px;
}

main .hero-buttons .button-explore {
    background-color: #ffce4e;
    width: 257px;
    height: 84px;
}

main .hero-buttons .button-explore a {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 28px;
    color: black;
    text-decoration: none;
}

main .hero-buttons .button-create {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 28px;
    color: white;
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid #ffce4e;
    width: 257px;
    height: 84px;
}

main .hero-buttons .button-create a {
    font-family: "Work Sans";
    font-weight: 600;
    color: white;
    font-size: 28px;
    text-decoration: none;
}

main .hero-informations {
    display: flex;
    padding-left: 80px;
    gap: 70px;
    padding-bottom: 120px
}

main .hero-informations .hero-informations-content {
    display: flex;
    flex-direction: column;
}

main .hero-informations .hero-informations-number {
    font-family: "Oxanium";
    font-size: 62px;
    font-weight: 700;
    color: #f5fbf2;
}

main .hero-informations .hero-informations-text {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 24px;
    color: #9b9e9a;
}

main .teste .nft-artist-container {
    height: 142px;
    position: relative;
    top: -140px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    margin-bottom: 103px;
}

.teste .nft-prices-informations {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 24px 23px 0px 23px;
    padding: 18px 54px 16px 39px;
    top: 120px;
    background: linear-gradient( 92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
    opacity: 0.95;
}

.teste .nft-prices-informations .nft-prices-informations-current-bid {
    font-family: "Oxanium";
    font-size: 18px;
    color: #e4dee7;
}

.teste .nft-prices-informations .nft-prices-informations-current-price {
    display: flex;
    flex-direction: column;
    font-family: "Oxanium";
    font-size: 32px;
    color: #fff;
}

main .teste .nft-artist-container .nft-artist-container-profission {
    padding-top: 33px;
    font-family: "Oxanium";
    font-size: 28px;
}

main .teste .nft-artist-container .nft-artist-container-social-media {
    font-family: "Work Sans";
    font-size: 24px;
    font-weight: 400;
    color: #594d5e;
}

main .teste .nft-prices-informations .nft-promotion-price-time .nft-promotion-text {
    font-family: "Oxanium";
    font-size: 18px;
    font-weight: 500;
    color: #e4dee7;
}

main .teste .nft-prices-informations .nft-promotion-price-time .nft-promotion-time {
    display: flex;
    flex-direction: column;
    font-family: "Oxanium";
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

main .teste .nft-artist-container .nft-artist-container-button button {
    width: 205px;
    height: 72px;
    background-color: #ffce4e;
    border: none;
    margin-top: 30px;
}

main .teste .nft-artist-container .nft-artist-container-button a {
    text-decoration: none;
    font-family: "Work Sans";
    font-weight: 700;
    font-size: 24px;
    color: #000;
}